# Node.js
# ========================
# Ignores all node_modules directories, no matter where they are.
**/node_modules

# Build artifacts
dist
out
build
coverage

# Editor and IDE
# ========================
.idea/
.vscode/
*.swp
.DS_Store

# Logs and temporary files
# ========================
npm-debug.log*
yarn-debug.log*
.env
.env.local
.cache